<div class="row g-4">

    @for(property of properties; track property.id){

    <div class="col-lg-4 col-md-6">
        <div class="property-card">
            <div class="position-relative">
                <img [src]="property.image" alt="Modern House" class="property-image">

                <div class="for-rent-badge " [ngClass]="property.purpose =='rent' ? 'bg-info' : 'bg-primary'">For
                    {{property.purpose}}</div>
                <!-- <div class="for-rent-badge "
                    [ngStyle]="{'background-color': property.purpose =='rent' ? 'brown' : 'green'}">For
                    {{property.purpose}}</div> -->


                <!-- @if(property.purpose=="rent"){
                <div class="for-rent-badge bg-info">For {{property.purpose}}</div>
                }
                @else{
                <div class="for-rent-badge bg-primary">For {{property.purpose}}</div>
                } -->
            </div>
            <div class="property-details">
                <h5 class="property-title fs-4"> {{property.name}} </h5>
                <p class="property-location">
                    <i class="fas fa-map-marker-alt me-1"></i>
                    {{property.location}}
                <p class="property-date">{{property.date | date:'medium'}}</p>
                <p class="property-description">{{property.description}} </p>

                <div class="property-features">
                    <span class="feature-item">
                        <i class="fas fa-bed"></i>
                        <span>3</span>
                    </span>
                    <span class="feature-item">
                        <i class="fas fa-bath"></i>
                        <span>2</span>
                    </span>
                    <div class="feature-item">
                        <i class="fas fa-ruler-combined"></i>
                        <span>{{ property.area }} m²</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="property-price">
                        <p>Price: {{property.price}}</p>
                    </span>
                    <div class="property-actions">
                        <button class="action-btn">
                            <i class="far fa-heart"></i>
                        </button>

                        <button class="action-btn">
                            <i class="fas fa-share-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="property-card">

        </div>
    </div>
    }

</div>