<main class="profile-form-section">
  <div class="form-wrapper">
    <div class="form-card">
      <h2 class="profile-title">Business Information</h2>

      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="edit-form">
        <div class="avatar-upload">
          <div class="avatar-preview">
            <img [src]="profileForm.value.logo || 'assets/images/default-avatar.jpg'" alt="Profile picture">
          </div>
          <div class="avatar-edit">
            <input type="file" id="imageUpload" (change)="onFileChange($event)" accept=".png, .jpg, .jpeg">
            <label for="imageUpload" class="upload-btn">
              <i class="fas fa-camera"></i> Upload Picture
            </label>
          </div>
        </div>

        <div class="input-group">
          <label for="company_name">New Company Name</label>
          <input type="text" id="company_name" formControlName="company_name" placeholder="Enter company name"
            [ngClass]="{'invalid': profileForm.get('company_name')?.invalid && profileForm.get('company_name')?.touched}">
          <span class="error-msg"
            *ngIf="profileForm.get('company_name')?.invalid && profileForm.get('company_name')?.touched">
            Company name is required
          </span>
        </div>
        <hr>
        <div class="simple-multi-select">


          <div class="select-box" (click)="showDropdown = !showDropdown">
            {{selectedOptions.length > 0 ? selectedOptions.join(', ') : 'Services Area...'}}
            <span class="arrow">🔽</span>
          </div>

          <div class="dropdown" *ngIf="showDropdown">
            <div *ngFor="let option of options" class="option" [class.selected]="isSelected(option)"
              (click)="toggleSelection(option)">
              <input type="checkbox" [checked]="isSelected(option)" readonly>
              {{option}}
            </div>
          </div>

          <input type="hidden" formControlName="locations">

        </div>
        <hr>

        <div class="input-group">
          <label for="about_company">About</label>
          <textarea id="about_company" rows="4" formControlName="about_company"
            placeholder="Tell us about your business"
            [ngClass]="{'invalid': profileForm.get('about_company')?.invalid && profileForm.get('about_company')?.touched}"></textarea>
          <span class="error-msg"
            *ngIf="profileForm.get('about_company')?.invalid && profileForm.get('about_company')?.touched">
            This field is required
          </span>
        </div>

        <div class="form-actions">
          <button type="submit" class="save-btn" [disabled]="!profileForm.valid">
            <i class="fas fa-save"></i> Save Changes
          </button>
        </div>
      </form>
    </div>
  </div>
</main>