<!-- navbar.component.html -->
<nav class="navbar-custom">
  <div class="container d-flex justify-content-between align-items-center">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/images/logo.png">
    </a>

    <!-- Navigation Menu (يمين) -->
    <div class="d-flex align-items-center ms-auto">
      <ul class="navbar-nav flex-row gap-2 mb-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="activeLink">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="activeLink" routerLink="/properties">Properties</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="activeLink" routerLink="/my-properties">My Properties</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="activeLink" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="activeLink" routerLink="/contact">Contact</a>
        </li>
      </ul>
      <!-- CTA Button or User Dropdown -->
      <ng-container *ngIf="!isAuthenticated; else userDropdown">
        <a routerLink="/login" class="login-btn">Login</a>
        <a routerLink="/registration" class="cta-button rounded-3">Register</a>
      </ng-container>
      <ng-template #userDropdown>
        <div class="dropdown d-inline-block ms-3">
          <button class="btn btn-outline-secondary dropdown-toggle d-flex align-items-center" type="button"
            id="userDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
            <img *ngIf="photo" [src]="photoUrl" alt="User Photo" class="rounded-circle me-2 user-photo" width="32"
              height="32">
            <span *ngIf="!photo" class="user-initials me-2">{{ userName ? userName.charAt(0) : '?' }}</span>
            <span class="user-name">{{ userName }}</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdownMenu">
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="getrole()">Profile</a></li>
            <li *ngIf="isUser"><a class="dropdown-item" routerLink="/user-bookings">My Bookings</a></li>
            <ng-container *ngIf="isSeller">
              <li><a class="dropdown-item" (click)="listProperty()">My Properties</a></li>
              <li><a class="dropdown-item" (click)="listBookings()">My Bookings</a></li>
              <li><a class="dropdown-item" (click)="addProperty()">Add Property</a></li>
            </ng-container>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><button class="dropdown-item" (click)="logout()">Logout</button></li>
          </ul>
        </div>
      </ng-template>
    </div>
  </div>
</nav>