<!-- navbar.component.html -->
<nav class="navbar-custom">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="#home">
      <img src="assets/images/logo.png">
    </a>

    <!-- Mobile Menu Toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Menu -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="properties">Properties</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#buy">Buy</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#sell">Sell</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/my-properties">My Properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#rent">Rent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/seller-profile">Agents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user-seller-profile">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>

      <!-- CTA Button -->
      <a href="/registration" class="cta-button rounded-3">
        <i class="fas fa-rocket"></i>
        Get Started
      </a>
    </div>
  </div>
</nav>